@import url('https://fonts.googleapis.com/css2?family=UNAL+Ancizar+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .bg-gradient-dark {
    background: radial-gradient(circle at 50% 120%, #1a472a 0%, #000000 100%);
  }
  
  .font-ancizar-serif {
    font-family: 'UNAL Ancizar Serif', serif;
  }
}